h1, h2 {
    font-family: "Oswald";
    color: darkblue;
}

body {
    font-family: "Open Sans";
    color: darkblue;
    background-color: ivory;
    margin: 10px 50px 10px 50px;
}

img {
    width: 100px;
    float: left;
}