h1, h2 {
    font-family: "Oswald";
}

body {
    font-family: "Open Sans";
    color: darkblue;
    margin: 10px 50px 10px 50px;
    background-color: ivory;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    padding: 75px;
}

img {
    width: 100px;
    float: left;
    margin-right: 8px;
}

.left {
    float: left;
    width: 300px;
    padding: 1em;
}

.right {
    float: right;
    width: 300px;
    padding: 1em;
}

.center {
    margin-left: 300px;
    margin-right: 300px;
    padding: 1em;
}